* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
}

/* HEADER */
header {
    background: #4f46e5;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    padding: 50px;
    text-align: center;
}

.button {
    background-color: #4f46e5;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #4338ca;
}

/* PRODUCTS */
.product {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: #1f2937;
    color: #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}
